:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

/* HEADER */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}
header img {
    width: 151px;
    height: 24px;
    margin-top: 39px;
    align-self: center;
}

.header__title--container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 36px;
    text-align: center;
    align-self: center;
}
.header__title--container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.header__title--container p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title--container .header--button {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 32px;
	left: calc(50% - 114.5px);
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Shadow */
    box-shadow: 0px 4px 8px 0px rgba(89,73,30,0.16);
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url(../assets/icons/down-arrow.svg);
}

/* MAIN */
.main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

/* EXCHANGE INFO */
.main__exchange--container {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 80px 0 30px 0;
    background-color: var(--off-white);
}
.main__exchange--container .exchange--img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url(../assets/img/Bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main__exchange--container .exchange--text {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 44px auto 48px;
}
.exchange--text h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}
.exchange--text p {
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey);
}

.exchange__currency--table,
.exchange__commissions--table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'inter', sans-serif;
}
.exchange__currency--table .currency__table--title,
.exchange__commissions--table .commissions__table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.exchange__commissions--table .commissions__table--title {
    color: var(--secondary-blue);
}
.currency__table--container,
.commissions__table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency__table--container table,
.commissions__table--container table {
    width: 100%;
    height: 100%;
}
.currency__table--container td,
.commissions__table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency__table--container .table__top--left,
.commissions__table--container .table__top--left {
    border-radius: 15px 0 0 0;
}
.currency__table--container .table__top--right,
.commissions__table--container .table__top--right {
    border-radius: 0 15px 0 0;
}
.currency__table--container .table__bottom--left,
.commissions__table--container .table__bottom--left {
    border-radius: 0 0 0 15px;
}
.currency__table--container .table__bottom--right,
.commissions__table--container .table__bottom--right {
    border-radius: 0 0 15px 0;
}
.currency__table--container .table__right,
.commissions__table--container .table__right {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: #757575;
}
.currency__table--container .table__left,
.commissions__table--container .table__left {
    text-align: left;
    padding-left: 14px;
}
.currency__table--container .down,
.currency__table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency__table--container .up {
    background-image: url(../assets/icons/trending-up.svg);
}
.exchange__table--container .currency__table--date,
.exchange__table--container .commissions__table--date {
    width: 190px;
    height: 30px;
    margin: 15px auto 0;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--soft-orange);
}
.exchange__table--container .commissions__table--date {
    background-color: var(--soft-blue);
}
.exchange__table--container .currency__table--date p,
.exchange__table--container .commissions__table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}

/* PRODUCT DESCRIPTION */
.main__product--detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.product__detail--batata {
    position: absolute;
    width: 40px;
    height: 25px;
    top: calc(0% - 12.5px);
	left: calc(50% - 20px);
    background-image: url(../assets/icons/batata.svg);
}
.product__detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product__detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
}
.product__detail--title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
}

.product__detail--card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.product__detail--card .card--detail {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clock {
    background-image: url("../assets/icons/clock.svg");
}
.eye {
    background-image: url("../assets/icons/eye.svg");
}
.dollar {
    background-image: url("../assets/icons/dollar-sign.svg");
}
.check {
    background-image: url("../assets/icons/check-circle.svg");
}

.product__card--title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-bottom: 10px;
}
.product__card--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* SECTION EXTRA */
.bitcoin__img--container {
    width: 100%;
    min-width: 320px;
    height: 60vh;
    background-image: url(../assets/img/bitcoinbaby2x.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.bitcoin__img--container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/* PLANS */
.main__plans--container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto 50px;
}
.plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--warm-black);
}
.plans--title p {
    padding-top: 30px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #757575;
}

.plans__container--slider {
    display: flex;
    height: 350px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin: 0 10px;
}

.plans__container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.center--card {
    margin-left: 10px;
    margin-right: 10px;
}
.recommended {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 60px);
    top: -15.5px;
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    padding: 6px;
}
.plan__card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #000000;
}
.plan__card--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: #000000;
}
.plan__card--price span {
    font-size: 1.2rem;
    font-weight: 300;
    position: relative;
    top: -25px;
    left: -5px;
}
.plan__card--desc {
    font-size: 1.2rem;
    color: #757575;
}
.plan__card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    font-size: 1.4rem;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
}
.plan__card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../assets/icons/orange-right-arrow.svg);
    vertical-align: text-bottom;
    margin-left: 8px;
}

/* FOOTER */
footer {
    display: flex;
    background-color: var(--bitcoin-orange);
    width: 100%;
    min-width: 320px;
    height: 150px;
}
footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.left ul {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    list-style: none;
}
.left li {
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}