.exchange__table--container {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}
.product__cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}
.plans__container--slider {
    justify-content: center;
}